:root {
    --clr-light-cyan: hsl(193, 38%, 86%);
    --clr-neon-green: hsl(150, 100%, 66%);
    --clr-grayish-blue: hsl(217, 19%, 38%);
    --clr-dark-grayish-blue: hsl(217, 19%, 24%);
    --clr-dark-blue: hsl(218, 23%, 16%);

    --font-main: Manrope, sans-serif;

    --font-extra-bold: 800;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    font-family: var(--font-main);
    font-weight: var(--font-extra-bold);
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.main__container {
    background-color: var(--clr-dark-blue);
    min-height: 100vh;
    padding-top: clamp(7.5rem, 8.5vh + 9vw + 2rem, 13.9375rem);
    padding-bottom: clamp(13.9375rem, 10vh + 12vw + 2rem, 15.9375rem);
}
.advice__wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: min(100vw - 2rem, 33.75rem);
    border-radius: 0.75rem;
    padding: 2.625rem 1.5rem 0 1.5rem;
    background-color: var(--clr-dark-grayish-blue);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advice__divider {
    margin-bottom: 2rem;
}
.advice__divider img {
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}
.advice__id {
    letter-spacing: 0.31em;
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: var(--clr-neon-green);
    margin-bottom: 1.625rem;
}
.advice__content {
    max-width: 24ch;
    line-height: 2.0625rem;
    font-size: 1.5rem;
    color: var(--clr-light-cyan);
    margin-bottom: 1.75rem;
}
.advice__refresh__btn {
    position: relative;
    border: none;
    cursor: pointer;
    padding: 1.25rem;
    border-radius: 9999px;
    background-color: var(--clr-neon-green);
    margin-bottom: -2rem;
    transition: transform 150ms ease;
}
.advice__refresh__btn .box-shadow {
    position: absolute;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: hsla(150, 100%, 66%, 100%) 0px 0px 32px 4px;
    transition: opacity 200ms ease;
    opacity: 0;
}
.advice__refresh__btn:hover .box-shadow {
    opacity: 1;
}
.advice__refresh__btn:active {
    transform: scale(0.9);
}
@media screen and (min-width: 38em) {
    .advice__wrapper {
        padding-top: 3.1875rem;
    }
    .advice__content {
        font-size: 1.75rem;
        line-height: 2.375rem;
        margin-bottom: 2.5rem;
    }
    .advice__divider {
        margin-bottom: 2.5rem;
    }
    .advice__id {
        font-size: 0.8125rem;
    }
}
